<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinchinne.accountservice.dao.AccountDao">

    <resultMap id="BaseResultMap" type="com.chinchinne.accountservice.model.AccountDto">
        <result column="YEAR" property="year" jdbcType="VARCHAR" />
        <result column="MONTH" property="month" jdbcType="VARCHAR" />
        <result column="DAY" property="day" jdbcType="VARCHAR" />
        <result column="CATEGORY_NAME" property="category" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" typeHandler="com.chinchinne.accountservice.converter.StatusHandler" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="BIGINT" />
        <result column="INCOME_TOTAL" property="incomeTotal" jdbcType="BIGINT" />
        <result column="EXPENSE_TOTAL" property="expenseTotal" jdbcType="BIGINT" />
    </resultMap>


    <select id="getAccountsByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultMap="BaseResultMap">
        SELECT		 YEAR
                    ,MONTH
                    ,DAY
                    ,SUM( IF(STATUS = 'I', AMOUNT, 0) ) AS INCOME_TOTAL
                    ,SUM( IF(STATUS = 'o', AMOUNT, 0) ) AS EXPENSE_TOTAL

        FROM		ACCOUNT

        WHERE		USER_ID = #{userId}
                    AND YEAR = #{year}
                    AND MONTH = #{month}

        GROUP BY	YEAR, MONTH, DAY
    </select>

    <select id="getAccountByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultMap="BaseResultMap">
        SELECT		 YEAR
                    ,MONTH
                    ,DAY
                    ,CATEGORY_NAME
                    ,STATUS
                    ,MEMO
                    ,AMOUNT

        FROM		ACCOUNT ACT
                    JOIN CATEGORY CTY
                        ON ACT.USER_ID = #{userId}
                        AND CTY.SEQ = ACT.CATEGORY_ID

        WHERE		YEAR = #{year}
                    AND MONTH = #{month}
                    AND DAY = #{day}
    </select>
</mapper>