<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinchinne.accountservice.dao.AccountDao">

    <resultMap id="BaseResultMap" type="com.chinchinne.accountservice.model.AccountDto">
        <result column="ACCOUNT_ID" property="accountId" jdbcType="BIGINT" />
        <result column="YEAR" property="year" jdbcType="VARCHAR" />
        <result column="MONTH" property="month" jdbcType="VARCHAR" />
        <result column="DAY" property="day" jdbcType="VARCHAR" />
        <result column="CATEGORY_NAME" property="category" jdbcType="VARCHAR" />
        <result column="BACK_COLOR" property="backColor" jdbcType="VARCHAR" />
        <result column="TEXT_COLOR" property="textColor" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" typeHandler="com.chinchinne.accountservice.handler.StatusHandler" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="BIGINT" />
        <result column="INCOME_TOTAL" property="incomeTotal" jdbcType="BIGINT" />
        <result column="EXPENSE_TOTAL" property="expenseTotal" jdbcType="BIGINT" />
    </resultMap>


    <select id="getAccountsByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultMap="BaseResultMap">
        SELECT		 YEAR
                    ,MONTH
                    ,DAY
                    ,SUM( IF(STATUS = 'I', AMOUNT, 0) ) AS INCOME_TOTAL
                    ,SUM( IF(STATUS = 'O', AMOUNT, 0) ) AS EXPENSE_TOTAL

        FROM		ACCOUNT

        WHERE		USER_ID = #{userId}
                    AND YEAR = #{year}
                    AND MONTH = #{month}
                    AND DEL_YN = 'N'

        GROUP BY	YEAR, MONTH, DAY
    </select>

    <select id="getAccountByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultMap="BaseResultMap">
        SELECT		 ACT.SEQ AS ACCOUNT_ID
                    ,YEAR
                    ,MONTH
                    ,DAY
                    ,CATEGORY_NAME
                    ,BACK_COLOR
                    ,TEXT_COLOR
                    ,STATUS
                    ,MEMO
                    ,AMOUNT

        FROM		ACCOUNT ACT
                    JOIN CATEGORY CTY
                        ON ACT.USER_ID = #{userId}
                        AND YEAR = #{year}
                        AND MONTH = #{month}
                        AND DAY = #{day}
                        AND ACT.DEL_YN = 'N'
                        AND CTY.SEQ = ACT.CATEGORY_ID
    </select>

    <select id="getChartByRequestParam" parameterType="com.chinchinne.accountservice.vo.RequestParam"  resultMap="BaseResultMap">
        SELECT		  MAX(CTY.CATEGORY_NAME) AS CATEGORY_NAME
                     ,MAX(CTY.BACK_COLOR) AS BACK_COLOR
                     ,SUM(IF(ACT.STATUS = 'I', ACT.AMOUNT, 0) ) AS INCOME_TOTAL
                     ,SUM(IF(ACT.STATUS = 'O', ACT.AMOUNT, 0) ) AS EXPENSE_TOTAL

                FROM		ACCOUNT ACT
                                JOIN CATEGORY CTY
                                     ON ACT.USER_ID = #{userId}
                                         AND ACT.YEAR = #{year}
                                         AND ACT.MONTH = #{month}
                                         AND ACT.DEL_YN = 'N'
                                         AND CTY.SEQ = ACT.CATEGORY_ID

                GROUP BY	ACT.CATEGORY_ID
    </select>
</mapper>